.mainNavWrap {
  color: var(--textLight);
  z-index: 10;
  display: flex;
  justify-content: center;
  width: 100%;
  height: 47px;
}
.listWrap {
  display: flex;
  gap: 30px;
  align-items: center;
  transition: 0.3s;
  text-transform: uppercase;
}
.menuBorder {
  border: 1px solid var(--color1);
  background-color: var(--overlay);
  padding: 10px 30px;
  border-radius: 20px;
}

.navLink {
  color: var(--textLight);
  font-weight: 400;
  transition: 0.3s;
}
.navLink:hover {
  color: var(--color1);
}

.active {
  color: var(--color1);
}

@media (max-width: 650px) {
  .listWrap {
    gap: 15px;
  }
  .listWrap li {
    font-size: 15px;
  }
}

@media (max-width: 701px) {
  .mainNavWrap {
    display: none;
  }
}
