.mainWrapper {
  padding: 50px 30px;
}
.innerWrapper {
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 4%;
}
.reverse {
  flex-direction: row-reverse;
}
.imageDiv {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageDiv img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.textDiv {
  width: 48%;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.textDiv h3 {
  padding-top: 10px;
}

.textsDiv li {
  list-style: disc;
}
.textsDiv {
  padding-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 15px;
}

/* @media (max-width: 1200px) { */
/* } */

@media (max-width: 1000px) {
  .innerWrapper {
    flex-direction: column-reverse;
  }
  .textsDiv {
    padding-top: 20px;
  }
  .textDiv {
    max-width: 100%;
    width: 100%;
    padding: 20px 0;
  }
  .imageDiv {
    width: 100%;
  }
  .textDiv h3 {
    padding-top: 0;
  }
}
