.container1 section {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
  color: var(--textDark);
}

.container2 {
  background-color: var(--color2);
}
.container2 section {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
  color: var(--textLight);
}
.container3 {
  background-color: var(--color2);
}
.container3 section {
  max-width: 2000px;
  margin: 0 auto;
  color: var(--textDark);
}

.container4 {
  background-color: var(--color2);
}
.container4 section {
  max-width: 2000px;
  margin: 0 auto;
  color: var(--textLight);
}

@media (max-width: 700px) {
  .container1 section,
  .container2 section {
    padding: 0 20px;
  }
}
