.container1 section {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
}

.container2 {
  background-color: var(--color2);
}
.container2 section {
  max-width: 2000px;
  margin: 0 auto;
  padding: 0 50px;
}
