.container {
  background-color: var(--backgroundLight);
}
.mainWrapper {
  margin: 0 auto;
  max-width: 1500px;
  color: var(--textDark);
  padding: 50px 5% 100px 5%;
}

.textDiv {
  padding-bottom: 40px;
}
.bussinesInputs {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.activeCategory {
  background-color: var(--gray8);
  color: var(--gray2);
}
.bussinesInputs input {
  margin: 0 10px;
  border: 1px solid var(--gray2);
  padding: 6px 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  transition: all 0.5s;
}
.bussinesInputs input:hover {
  background-color: var(--gray8);
  color: var(--gray2);
}

.cardWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 30px;
}
.cardWrapper div {
  flex: 0 1 calc((100% - 100px) / 3);
}
.getCoutBut {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

@media (max-width: 850px) {
  .cardWrapper div {
    flex: none;
  }
}
@media (max-width: 850px) {
  .bussinesInputs {
    flex-direction: column;
  }
  .bussinesInputs input {
    margin: 5px 0;
  }
}
