.mainWrap {
  width: 100%;
  transition: all 0.5s ease-in-out;
}
.navigationWrapper {
  margin: 0 auto;
  width: 100%;
  display: flex;
  padding: 0px 20px;
  margin-top: 10px;
  max-width: 1500px;
  justify-content: space-between;
  align-items: center;
  height: 60px;
}
.marginNull {
  margin-top: 0;
}
.scrolledFix {
  backdrop-filter: blur(10px);
  position: fixed;
  background-color: var(--overlayDark);
  top: 0;
}
.logo {
  position: absolute;
  z-index: 20;
}
.navigationWrapper h3 {
  display: flex;
  align-items: center;
  z-index: 5;
  line-height: 60px;
}
.navigationWrapper p {
  font-size: 50px;
  padding: 0 10px;
  color: var(--color3);
  font-weight: 100;
}
@media (max-width: 550px) {
  .navigationWrapper h3 {
    scale: 0.7;
    margin-left: -40px;
  }
}

@media (max-width: 1200px) {
  .navigationWrapper h3 {
    position: relative;
  }
  .logo {
    position: inherit;
  }
  .navigationWrapper {
    margin-top: 0;
  }
}
