.mainWrapper {
  padding: 50px 30px;
}
.innerWrapper {
  display: flex;
  justify-content: center;
  gap: 4%;
  width: 100%;
}
.reverse {
  flex-direction: row-reverse;
}
.imageDiv {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imageDiv img {
  width: 100%;
  object-fit: cover;
  height: 500px;
}

.textDiv {
  width: 48%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  max-width: 700px;
}
.textDiv h3 {
  padding-top: 10px;
}

.textDiv ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
.textDiv li {
  list-style: disc;
  margin-left: 20px;
  padding-left: 10px;
  padding-top: 10px;
}

@media (max-width: 1400px) {
  .textDiv {
    padding: 0;
  }
}
@media (max-width: 1200px) {
  .mainWrapper {
    padding-right: 0;
    padding-left: 0;
  }
}

@media (max-width: 1000px) {
  .innerWrapper {
    flex-direction: column-reverse;
  }

  .textDiv li {
    padding-bottom: 20px;
  }

  .textDiv p {
    padding-top: 10px;
  }
  .textDiv {
    width: 100%;
    padding: 0 0 20px 0;
  }
  .imageDiv {
    width: 100%;
  }
}
