.mainWrapper {
  width: 32%;
  background-color: var(--backgroundLight);
  color: var(--textDark);
  position: relative;
  border: 1px solid var(--gray2);
  min-width: 280px;
  margin-top: 2%;
}

.numeration {
  font-size: 50px;
  font-weight: 50;
}

.cardTextDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  position: relative;
}
.cardTextDiv h3 {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
}
.cardTextDiv p {
  height: 85px;
}
.extraTitle {
  color: var(--color1);
  padding-right: 10px;
}

.arrow {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
  display: none;
}

.overlay {
  position: absolute;
  /* cursor: pointer; */
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.overlay:hover {
  border-bottom: 5px solid var(--color1);
  box-shadow: 0px 0px 15px 5px var(--gray2);
}

/* @media (min-width: 1100px) {
  .mainWrapper {
    flex: 0 1 calc((100% - 100px) / 3);
  }
} */

@media (max-width: 1100px) {
  .mainWrapper {
    width: 49%;
  }
}
@media (max-width: 850px) {
  .mainWrapper {
    width: 100%;
    margin-top: 4%;
  }
}
@media (max-width: 650px) {
  .mainWrapper {
    flex-direction: column;
    width: 100%;
  }
}
