/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/anyPageHead/PageHeadImage/PageHeadImage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.PageHeadImage_mainWrapper__bPr6g {
  overflow: hidden;
  position: relative;
}
.PageHeadImage_mainImage__WYtcp {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 560px;
  z-index: -1;
  margin-bottom: -25px;
}
.PageHeadImage_short__gqB50 {
  height: 350px;
}
.PageHeadImage_imageDarkLayer__3Imbt {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--overlayDark);
}

.PageHeadImage_overlayWrapper__QC4jh {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--textLight);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 1000px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 400px;
  }
  .PageHeadImage_short__gqB50 {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 350px;
  }
  .PageHeadImage_short__gqB50 {
    height: 250px;
  }
}

/*!****************************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/contactForms/ReservationContactForm/ReservationContactForm.module.css ***!
  \****************************************************************************************************************************************************************************************************************************************************************************************************************************/
.ReservationContactForm_reservationWrapper__E05u0 {
  position: relative;
  width: 60%;
  max-width: 800px;
  height: 700px;
  border: 5px solid var(--color1);
  margin: -150px auto 0 auto;
  margin-bottom: 100px;
  background-color: var(--backgroundLight);
  z-index: 5;
}
.ReservationContactForm_reservation__kvtAA {
  height: 100%;
  padding: 10%;
}

.ReservationContactForm_form__X3_IJ {
  height: 100%;
  width: 100%;
  color: var(--textMedium);
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}
.ReservationContactForm_form__X3_IJ div {
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.ReservationContactForm_input__qPb7R {
  height: 50px;
  padding: 0 20px;
  border: 1px solid var(--textMedium);
  letter-spacing: 1px;
  width: 100%;
}

.ReservationContactForm_input__qPb7R:focus {
  outline: none;
  border: 2px solid var(--color1);
}

.ReservationContactForm_textArea__rXgmL {
  padding-top: 20px;
  height: 200px;
  resize: none;
}

.ReservationContactForm_inputRed__b_GqX::-moz-placeholder {
  color: red;
}

.ReservationContactForm_inputRed__b_GqX::placeholder {
  color: red;
}

.ReservationContactForm_buttonSend__Xntz8 {
  margin: 0 auto;
  font-size: 20px;
  width: 100%;
  background-color: var(--color1);
}
.ReservationContactForm_formSent__EVS8x {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
  height: 100%;
  font-size: 50px;
  color: var(--color1);
  text-align: center;
  width: 70%;
  opacity: 1;
  transition: opacity 1s ease;
}
.ReservationContactForm_formSent__EVS8x h5 {
  color: var(--red);
  padding-top: 30px;
  font-size: 25px;
}

.ReservationContactForm_hide__6xH5X {
  opacity: 0;
  pointer-events: none;
}
.ReservationContactForm_none__Yhe_K {
  display: none;
}

@media (max-width: 800px) {
  .ReservationContactForm_reservationWrapper__E05u0 {
    margin: 30px auto;
    width: 80%;
  }
}

@media (max-width: 450px) {
  .ReservationContactForm_reservationWrapper__E05u0 {
    width: 90%;
  }
}
@media (max-width: 800px) {
  .ReservationContactForm_form__X3_IJ div {
    flex-direction: column;
    gap: 5px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/MapTimes.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.MapTimes_mapAndTimesWrapper__wZgWm {
  width: 95%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  height: 600px;
}

.MapTimes_textMapWrap__lRZ4E {
  padding: 10px;
  height: 100%;
  display: flex;
  width: 60%;
  gap: 10px;
  border: 1px solid var(--gray2);
  background-color: var(--gray1);
}

.MapTimes_mapSide__ygxsn {
  width: 100%;
  height: 450px;
  height: 100%;
  border: none;
  min-height: 300px;
}
@media (max-width: 1300px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    gap: 40px;
  }
  .MapTimes_textMapWrap__lRZ4E {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .MapTimes_textMapWrap__lRZ4E {
    flex-direction: column;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Hours.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hours_hoursMainWrap__cMbDV {
  background-color: var(--color2);
  width: 30%;
  padding: 10px;
  height: 100%;
  color: var(--textLight);
  min-height: 400px;
}
.Hours_hoursWrap__5WIVQ {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}

.Hours_hoursHead__6ayoz {
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Hours_hoursHead__6ayoz h4 {
  font-family: var(--font1);
  font-size: 24px;
  text-transform: uppercase;
}
.Hours_hoursHead__6ayoz h3 {
  font-family: var(--font2);
  color: var(--color1);
}
.Hours_hoursTimes__YygVz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.Hours_timesDay__5JpWV {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.Hours_day__dIw3X {
  text-transform: capitalize;
  font-weight: 300;
}
.Hours_dotted__dP9Ka {
  border-bottom: 1px dotted var(--textMedium);
  flex: 1;
}
.Hours_hours__PRcRh {
  text-transform: uppercase;
}
.Hours_closed__ybAKU {
  color: var(--red);
  font-weight: 500;
}
.Hours_hoursReserv__gr82G {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font1);
  letter-spacing: 1px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 90%;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Text_textWrap__Ic8oY {
  background-color: var(--backgroundLight);
  width: 100%;
  border: 1px solid var(--gray2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  text-align: center;
  padding: 50px 0;
  min-height: 300px;
}

.Text_textWrap__Ic8oY img {
  margin: 0 auto;
}

.Text_addres__irnHB {
  color: var(--textMedium);
  width: 80%;
  margin: 0 auto;
}

.Text_email__yZsWZ {
  color: black;
}
.Text_number__C4aj4 {
  color: var(--red);
}

@media (max-width: 650px) {
  .Text_textWrap__Ic8oY {
    padding: 20px;
  }
}

