.mainWrapper {
  padding: 50px 0;
}
.imageWrapper {
  height: 100%;
  position: relative;
  margin-top: 20px;
}
.imageWrapper img {
  height: 100%;
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  object-position: top;
}
.imgOverlay {
  opacity: 0;
  position: absolute;
  height: 100%;
  width: 100%;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  margin: auto;
  z-index: 1;
  align-content: center;
  text-align: center;
  transition: all 0.3s ease-in-out;
  text-decoration: underline;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.imgOverlay:hover {
  opacity: 1;
  background-color: var(--overlayDark);
}
.textWrapper h3 {
  margin-bottom: 20px;
}
.textWrapper p {
  padding-bottom: 50px;
}

@media (max-width: 800px) {
  .imgOverlay p {
    font-size: 20px;
    font-weight: 400;
  }
}
