.twoMainWrapper {
  padding: 30px 0;
}
.twoProjectContainer {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 2%;
  padding-top: 2%;
}
.imageDiv {
  position: relative;
  border-radius: 10px;
  overflow: hidden;
  width: 32%;
  margin-bottom: 2%;
  height: 350px;
  color: var(--textLight);
}

.link {
  /* position: absolute; */
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.link:hover {
  background-color: var(--overlayLight);
}

.imageDiv img {
  /* max-height: 800px; */
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.textDiv {
  padding: 10px 20px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  background-color: var(--blur);
  backdrop-filter: blur(5px) !important;
  border-radius: 10px;
  max-width: 250px;
  overflow: hidden;
  text-wrap: noWrap;
}
.buttonDiv {
  display: flex;
  width: 100%;
  margin-top: 10px;
  justify-content: flex-end;
}

@media (max-width: 1700px) {
  .imageDiv {
    height: 300px;
  }
}

@media (max-width: 1400px) {
  .imageDiv {
    height: 250px;
  }
}

@media (max-width: 1200px) {
  .imageDiv {
    height: 200px;
  }
}

@media (max-width: 1000px) {
  .imageDiv {
    height: 200px;
    width: 49%;
  }
}

@media (max-width: 850px) {
  .imageDiv {
    /* height: 250px; */
  }
}
@media (max-width: 700px) {
  .twoProjectContainer {
    flex-direction: column;
  }
  .imageDiv {
    margin-bottom: 3%;
    height: 220px;
    width: 100%;
  }
}
@media (max-width: 500px) {
  .imageDiv {
    height: 220px;
    margin-bottom: 4%;
  }
}
