.mainWrapper {
  /* color: var(--textLight); */
  display: flex;
  padding: 50px 0;
  justify-content: space-between;
}

.mainWrapper div {
  height: 100%;
}
.mainWrapper ul {
  padding: 0 40px;
}

.rightSide {
  display: flex;
  justify-content: space-evenly;
  /* padding-right: 50px; */
}

.footContact {
  /* color: var(--textDark); */
  font-size: 20px;
  height: 100%;
  margin: auto;
  margin-right: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footContact a {
  background-color: var(--color1);
  color: var(--textDark);
  font-weight: 600;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contactInfo {
  color: var(--gray3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 10px;
}
.logo img {
  height: 150px;
  width: 150px;
}

@media (max-width: 950px) {
  .mainWrapper {
    height: auto;
  }
  .footContact {
    display: none;
  }
  .mainWrapper ul {
    padding: 0 30px;
  }
}
@media (max-width: 600px) {
  .mainWrapper ul {
  }
  .rightSide {
    display: flex;
    justify-content: space-evenly;
  }
  .logo img {
    height: 100px;
    width: 100px;
  }
  .mainWrapper ul {
    padding: 0 0 0 20px;
  }
}
