.mainWrapper {
  color: var(--textLight);
  display: flex;
  padding: 50px 100px;
}

.mainWrapper div {
  height: 100%;
  flex: 1;
}
.mainWrapper ul {
  padding: 0 50px;
}

.rightSide {
  display: flex;
  justify-content: space-evenly;
  padding-right: 50px;
}

.footContact {
  /* color: var(--textDark); */
  font-size: 20px;
  height: 100%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.footContact a {
  background-color: var(--color1);
  font-weight: 600;
  border-radius: 50%;
  height: 150px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.contactInfo {
  color: var(--gray3);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
  gap: 10px;
}

@media (max-width: 950px) {
  .mainWrapper {
    flex-direction: column;
    padding: 30px;
    height: auto;
  }
  .leftSide {
    display: none;
  }
}
@media (max-width: 600px) {
  .leftSide {
    display: none;
  }
  .footContact {
    display: none;
  }
  .mainWrapper ul {
    padding: 0;
  }
  .rightSide {
    display: flex;
    justify-content: space-evenly;
  }
}
