.mainWrapper {
  padding: 50px 0;
  max-width: 1000px;
  margin: 0 auto;
}
.imageWrapper {
  height: 100%;
  position: relative;
  margin-top: 20px;
}
.imageWrapper img {
  height: 100%;
  width: 100%;
  max-height: 600px;
  object-fit: cover;
}
.textWrapper h3 {
  margin-bottom: 20px;
}
.textWrapper p {
  padding-bottom: 50px;
}
