.mainWrapper {
  margin: 0 auto;
  color: var(--textLight);
  padding: 50px 10% 100px 10%;
}
.textDiv {
  padding-bottom: 40px;
}
.cardWrapper {
  display: flex;
  justify-content: center;
  gap: 50px;
}

@media (max-width: 950px) {
  .cardWrapper {
    flex-direction: column;
  }
}
