.container {
  background-color: var(--backgroundLight);
}
.mainWrapper {
  margin: 0 auto;
  max-width: 1500px;
  color: var(--textDark);
  padding: 50px 5% 100px 5%;
}

.textDiv {
  padding-bottom: 40px;
}
/* .caregory {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}
.activeCategory {
  background-color: var(--gray8);
  color: var(--gray2);
}
.caregory input {
  margin: 0 10px;
  border: 1px solid var(--gray2);
  padding: 6px 15px;
  cursor: pointer;
  font-size: 20px;
  font-weight: 100;
  transition: all 0.5s;
  min-width: 140px;
}
.caregory input:hover {
  background-color: var(--gray8);
  color: var(--gray2);
} */

.cardWrapper {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 30px;
}

.getCoutBut {
  display: flex;
  justify-content: flex-end;
  padding-top: 30px;
}

@media (max-width: 1100px) {
  .cardWrapper {
    justify-content: center;
  }
}

@media (max-width: 850px) {
  .cardWrapper div {
    flex: none;
  }
}
/* @media (max-width: 850px) {
  .caregory {
    flex-direction: column;
  }
  .caregory input {
    margin: 5px 0;
  }
} */
