/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/x-error-loading-notFound/error/ErrorComponent.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.ErrorComponent_errorWrapper__tbnbk {
  text-align: center;
  font-size: 30px;
  color: var(--primaryColor);
  background-color: var(--secondaryColor);
  margin: 0 auto;
  padding: 200px 0;
  width: 100%;
}

.ErrorComponent_errorWrapper__tbnbk h5 {
  text-align: center;
}

