/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/anyPageHead/PageHeadImage/PageHeadImage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.PageHeadImage_mainWrapper__bPr6g {
  overflow: hidden;
  position: relative;
}
.PageHeadImage_mainImage__WYtcp {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 560px;
  z-index: -1;
  margin-bottom: -25px;
}
.PageHeadImage_short__gqB50 {
  height: 350px;
}
.PageHeadImage_imageDarkLayer__3Imbt {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--overlayDark);
}

.PageHeadImage_overlayWrapper__QC4jh {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--textLight);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 1000px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 400px;
  }
  .PageHeadImage_short__gqB50 {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 350px;
  }
  .PageHeadImage_short__gqB50 {
    height: 250px;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/x-error-loading-notFound/notFound/NotFoundComponent.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************************/
.NotFoundComponent_notFound__ut9RE {
  background-color: var(--color1);
  height: 50vh;
  min-height: 400px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.NotFoundComponent_notFound__ut9RE h5 {
  padding: 20px 0;
  text-align: center;
}

