/*!***********************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/animations/cut-grass/CutGrass.module.css ***!
  \***********************************************************************************************************************************************************************************************************************************************************************************************/
.CutGrass_CutGrassWrapper__s1OG8 {
  width: 100%;
  position: relative;
  background-image: url(https://github.com/levanydze/constructionSupport/blob/main/assets/unnamed.png?raw=true);
  background-size: 180px;
  height: 96px;
}

.CutGrass_absolute__9vqMq {
  margin-bottom: -10px;
  margin-top: -90px;
}

.CutGrass_nonAbsolute__OZd66 {
  background-color: var(--backgroundLight);
}

.CutGrass_cutter__bCpip {
  position: absolute;
  top: 0;
  height: 100px;
  width: 100%;
}

.CutGrass_cutter__bCpip img {
  margin-top: -15px;
  transform: scaleX(-1);
  height: 100px;
  width: 150px;
  -o-object-fit: contain;
     object-fit: contain;
}

.CutGrass_animateCutter__lRhql {
  animation: CutGrass_cutting__IxW6X 2.8s forwards;
}

@keyframes CutGrass_cutting__IxW6X {
  0% {
    transform: translateX(60px) rotate(15deg) scaleX(-1);
  }
  6% {
    transform: translateX(60px) rotate(-15deg) scaleX(-1);
  }
  12% {
    transform: translateX(60px) rotate(13deg) scaleX(-1);
  }
  17% {
    transform: translateX(60px) rotate(-13deg) scaleX(-1);
  }
  22% {
    transform: translateX(60px) rotate(10deg) scaleX(-1);
  }
  26% {
    transform: translateX(60px) rotate(-10deg) scaleX(-1);
  }
  30% {
    transform: translateX(60px) rotate(8deg) scaleX(-1);
  }
  34% {
    transform: translateX(60px) rotate(-8deg) scaleX(-1);
  }
  38% {
    transform: translateX(60px) rotate(6deg) scaleX(-1);
  }

  41% {
    transform: translateX(60px) rotate(-6deg) scaleX(-1);
  }

  44% {
    transform: translateX(60px) rotate(3deg) scaleX(-1);
  }

  46% {
    transform: translateX(60px) rotate(-3deg) scaleX(-1);
  }

  48% {
    transform: translateX(60px) rotate(0deg) scaleX(-1);
  }
  65% {
    transform: translateX(-40px) rotate(30deg) scaleX(-1);
  }

  70% {
    transform: translateX(-40px) rotate(30deg) scaleX(-1);
  }

  73% {
    transform: translateX(-30px) rotate(10deg) scaleX(-1);
  }
  90% {
    transform: translateX(80vw) scaleX(-1);
  }

  100% {
    transform: translateX(98vw) rotate(0deg) translateX(-100%);
  }
}

@media (max-width: 600px) {
  .CutGrass_CutGrassWrapper__s1OG8 {
    display: none;
  }
  .CutGrass_animateCutter__lRhql {
    animation: none;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/animations/SliderPeople/Dashboard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_title__EI1tg {
  text-align: center;
  margin-bottom: 20px;
}

.Dashboard_sectionCenter__iO1LK {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 550px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.Dashboard_personImg__YjHP7 {
  margin-bottom: 1rem;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
}
.Dashboard_name__Uim2n {
  text-transform: capitalize;
  margin: 10px 0;
}

.Dashboard_title__EI1tg {
  margin: 20px auto;
  text-transform: capitalize;
}
.Dashboard_text__ORBzZ {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
}
.Dashboard_icon__za9W3 {
  margin: 40px auto 0 auto;
}
.Dashboard_prev__d9MhB,
.Dashboard_next___k3zA {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  width: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}

.Dashboard_prev__d9MhB {
  left: 0;
}
.Dashboard_next___k3zA {
  right: 0;
}
@media (min-width: 800px) {
  .Dashboard_text__ORBzZ {
    max-width: 45em;
  }
}

.Dashboard_article__hYLx1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}
.Dashboard_activeSlide__Ln_C8 {
  opacity: 1;
  transform: translateX(0);
}
.Dashboard_lastSlide__2AQDE {
  transform: translateX(-100%);
}
.Dashboard_nextSlide__6BoYb {
  transform: translateX(100%);
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/FourBoxes/FourBox.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************/
.FourBox_FourBoxMainWrapper__Dpk5V {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
  margin: 100px auto;
  max-width: 2000px;
}

.FourBox_FourBoxMainWrapper__Dpk5V p {
  margin: 20px 0;
}

.FourBox_FourBoxMainWrapper__Dpk5V img {
  padding-top: 50px;
}

.FourBox_FourBoxMainWrapper__Dpk5V div,
.FourBox_FourBoxMainWrapper__Dpk5V a {
  width: 25%;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  height: 300px;
  border: 1px solid var(--gray3);
  border-right: none;
}

.FourBox_FourBoxMainWrapper__Dpk5V h4 {
  word-wrap: break-word;
  max-width: 80%;
}
.FourBox_FourBoxMainWrapper__Dpk5V div:last-child,
.FourBox_FourBoxMainWrapper__Dpk5V a:last-child {
  border-right: 1px solid var(--gray3);
}

@media (max-width: 800px) {
  .FourBox_FourBoxMainWrapper__Dpk5V {
    flex-wrap: wrap;
  }
  .FourBox_FourBoxMainWrapper__Dpk5V div,
  .FourBox_FourBoxMainWrapper__Dpk5V a {
    width: 50%;
  }
  .FourBox_FourBoxMainWrapper__Dpk5V div:nth-child(2),
  .FourBox_FourBoxMainWrapper__Dpk5V a:nth-child(2) {
    border-right: 1px solid var(--gray3);
  }

  .FourBox_FourBoxMainWrapper__Dpk5V div:nth-child(1),
  .FourBox_FourBoxMainWrapper__Dpk5V a:nth-child(1),
  .FourBox_FourBoxMainWrapper__Dpk5V div:nth-child(2),
  .FourBox_FourBoxMainWrapper__Dpk5V a:nth-child(2) {
    border-bottom: none;
  }
}

/*!*****************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/HomePageHeads/HomePageMain/Overlay/ImageOverlay.module.css ***!
  \*****************************************************************************************************************************************************************************************************************************************************************************************************************/
.ImageOverlay_overlayWrapper__YhVHp {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--textLight);
  z-index: 1;
  display: flex;
  flex-direction: column;
}
.ImageOverlay_empty__y38gv {
  width: 100%;
  min-height: 50px;
}
.ImageOverlay_middle__zL4ie {
  text-align: center;
  width: 70%;
  max-width: 1000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  flex: 1;
  z-index: 2221;
  justify-content: center;
  gap: 3%;
  margin-top: -10%;
}

.ImageOverlay_middle__zL4ie h3 {
  line-height: 25px;
  letter-spacing: 4px;
  margin-top: -3%;
}
.ImageOverlay_middle__zL4ie h4 {
  letter-spacing: 1px;
  z-index: 1;
}

.ImageOverlay_buttons__oq_5W {
  display: flex;
  justify-content: center;
  gap: 5%;
  padding: 20px 0;
}

.ImageOverlay_bottom__xfUfx {
  display: flex;
  justify-content: space-between;
  padding: 0 3% 3% 3%;
}
.ImageOverlay_icons__mvFVt {
  display: flex;
  gap: 20px;
}

.ImageOverlay_phoneNumber__t5vP8 {
  font-family: var(--font1);
  font-size: 17px;
  font-weight: 300;
  letter-spacing: 1px;
  display: flex;
  margin: auto 0;
}
.ImageOverlay_phoneIcon__8mNAp {
  font-size: 22px;
  margin-right: 20px;
  padding-top: 5px;
}

@media (max-width: 950px) {
  .ImageOverlay_middle__zL4ie {
    width: 80%;
  }

  .ImageOverlay_middle__zL4ie h3 {
    letter-spacing: 2px;
    padding-bottom: 25px;
  }
}

@media (max-width: 750px) {
  .ImageOverlay_middle__zL4ie {
    width: 95%;
  }
}

@media (max-width: 370px) {
  .ImageOverlay_bottom__xfUfx {
    display: none;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/GuyWithServices/GuyWithServices.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************************/
/* construction guy with services around  */

.GuyWithServices_mainWrapper__YpzUP {
  margin: 40px auto;
  max-width: 1000px;
  padding: 0 20px;
}
.GuyWithServices_textWrapper__4Elej {
  text-align: center;
  padding: 40px 0;
}

.GuyWithServices_threeSectionWrapper__Q7qV9 {
  display: flex;
  justify-content: space-around;
}

.GuyWithServices_image__HUyfH {
  max-height: 600px;
  -o-object-fit: contain;
     object-fit: contain;
  margin: auto;
}

.GuyWithServices_sideSection__nrRfR {
  width: 30%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  text-align: center;
  align-items: center;
}

.GuyWithServices_sideSection__nrRfR img {
  margin: auto;
}
.GuyWithServices_sideSection__nrRfR h2 {
  padding: 10px 0;
}

.GuyWithServices_sideSection__nrRfR a {
  justify-content: center;
}
.GuyWithServices_sideSection__nrRfR div {
  padding: 20px 0;
}

@media (max-width: 700px) {
  .GuyWithServices_image__HUyfH {
    display: none;
  }
}

@media (max-width: 550px) {
  .GuyWithServices_threeSectionWrapper__Q7qV9 {
    flex-direction: column;
    align-items: center;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/MapTimes.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.MapTimes_mapAndTimesWrapper__wZgWm {
  width: 95%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  height: 600px;
}

.MapTimes_textMapWrap__lRZ4E {
  padding: 10px;
  height: 100%;
  display: flex;
  width: 60%;
  gap: 10px;
  border: 1px solid var(--gray2);
  background-color: var(--gray1);
}

.MapTimes_mapSide__ygxsn {
  width: 100%;
  height: 450px;
  height: 100%;
  border: none;
  min-height: 300px;
}
@media (max-width: 1300px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    gap: 40px;
  }
  .MapTimes_textMapWrap__lRZ4E {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .MapTimes_textMapWrap__lRZ4E {
    flex-direction: column;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Text_textWrap__Ic8oY {
  background-color: var(--backgroundLight);
  width: 100%;
  border: 1px solid var(--gray2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  text-align: center;
  padding: 50px 0;
  min-height: 300px;
}

.Text_textWrap__Ic8oY img {
  margin: 0 auto;
}

.Text_addres__irnHB {
  color: var(--textMedium);
  width: 80%;
  margin: 0 auto;
}

.Text_email__yZsWZ {
  color: black;
}
.Text_number__C4aj4 {
  color: var(--red);
}

@media (max-width: 650px) {
  .Text_textWrap__Ic8oY {
    padding: 20px;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/PhotoText/PhotoText.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.PhotoText_photoTextWrapper___lA_A {
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  max-width: 1200px;
}

.PhotoText_photoTextWrapper___lA_A img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.PhotoText_textDiv__8_T9L {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PhotoText_textDiv__8_T9L p {
  margin: 30px 0;
}
.PhotoText_textDiv__8_T9L h3 {
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .PhotoText_photoTextWrapper___lA_A {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .PhotoText_photoTextWrapper___lA_A img {
    width: 90%;
    margin: 0 auto;
  }
  .PhotoText_textDiv__8_T9L {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .PhotoText_textDiv__8_T9L p {
    margin: 30px auto;
  }
  .PhotoText_textDiv__8_T9L h2 {
    margin-top: 40px;
  }
  .PhotoText_textDiv__8_T9L h4 {
    margin-bottom: 40px;
  }
}

/*!***************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/TextIntoPhoto/TextIntoPhoto.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************************/
.TextIntoPhoto_TextIntoPhotoWrapper__j6KMp {
  width: 100%;
  display: flex;
  max-width: 1500px;
  margin: 0 auto;
}
.TextIntoPhoto_reverse__kZ8mL {
  flex-direction: row-reverse;
}

.TextIntoPhoto_image__zGk0W {
  width: 70%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  min-height: 600px;
}

.TextIntoPhoto_textDivWrapper__2QUxA {
  width: 50%;
  z-index: 1;
  margin: auto -20%;
  padding: 10px;
  background-color: var(--backgroundLight);
}

.TextIntoPhoto_textDiv__bcZc6 {
  border: 1px solid var(--gray4);
  text-align: center;
  padding: 15%;
}
.TextIntoPhoto_textDiv__bcZc6 img {
  margin: 0 auto;
  padding-bottom: 20px;
  -o-object-fit: cover;
     object-fit: cover;
}

.TextIntoPhoto_textDiv__bcZc6 p {
  margin: 20px auto;
}

@media (max-width: 800px) {
  .TextIntoPhoto_textDiv__bcZc6 p {
    margin: 10px auto;
  }
  .TextIntoPhoto_textDiv__bcZc6 {
    padding: 25px;
  }
}

@media (max-width: 700px) {
  .TextIntoPhoto_TextIntoPhotoWrapper__j6KMp {
    flex-direction: column;
    margin-bottom: 150px;
  }
  .TextIntoPhoto_textDivWrapper__2QUxA {
    width: 70%;
    margin: -20% auto;
  }

  .TextIntoPhoto_image__zGk0W {
    width: 90%;
    margin: 0 auto;
  }
}

@media (max-width: 500px) {
  .TextIntoPhoto_textDiv__bcZc6 {
    padding: 10px;
  }
  .TextIntoPhoto_TextIntoPhotoWrapper__j6KMp {
    margin-bottom: 100px;
  }
}

/* ----------------slide animation------------------- */

.TextIntoPhoto_slideSide__H_VSr {
  animation: TextIntoPhoto_slideSide__H_VSr linear forwards;
  animation-timeline: view();
  animation-range: cover -70% cover 40%;
}
@keyframes TextIntoPhoto_slideSide__H_VSr {
  0% {
    /* opacity: 0; */
    margin: auto 200px;
  }

  100% {
    /* opacity: 1; */
  }
}
@media screen and (max-width: 600px) {
  .TextIntoPhoto_slideSide__H_VSr {
    animation: none;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Hours.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hours_hoursMainWrap__cMbDV {
  background-color: var(--color2);
  width: 30%;
  padding: 10px;
  height: 100%;
  color: var(--textLight);
  min-height: 400px;
}
.Hours_hoursWrap__5WIVQ {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}

.Hours_hoursHead__6ayoz {
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Hours_hoursHead__6ayoz h4 {
  font-family: var(--font1);
  font-size: 24px;
  text-transform: uppercase;
}
.Hours_hoursHead__6ayoz h3 {
  font-family: var(--font2);
  color: var(--color1);
}
.Hours_hoursTimes__YygVz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.Hours_timesDay__5JpWV {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.Hours_day__dIw3X {
  text-transform: capitalize;
  font-weight: 300;
}
.Hours_dotted__dP9Ka {
  border-bottom: 1px dotted var(--textMedium);
  flex: 1;
}
.Hours_hours__PRcRh {
  text-transform: uppercase;
}
.Hours_closed__ybAKU {
  color: var(--red);
  font-weight: 500;
}
.Hours_hoursReserv__gr82G {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font1);
  letter-spacing: 1px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 90%;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/HomePageHeads/HomePageMain/HomePageMain.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.HomePageMain_outline__jRB40 {
  border: 7px solid var(--backgroundLight);
}
.HomePageMain_mainWrapper__RNxgy {
  overflow: hidden;
  position: relative;
  height: 100vh;
  max-height: 1500px;
  min-height: 600px;
  margin: 0 auto;
}

.HomePageMain_mainImage__F75pg {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  min-height: 600px;
  height: 100vh;
  z-index: -1;
  max-height: 1500px;
}
.HomePageMain_imageDarkLayer__7WZWf {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--overlay);
}

@media (max-width: 450px) {
  .HomePageMain_mainWrapper__RNxgy,
  .HomePageMain_mainImage__F75pg {
    height: auto;
  }
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/miniComponents/SocialMedia2/SocialMedia.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.SocialMedia_socialMediaIcon__jKdbS {
  border: 1px solid rgb(136, 136, 136);
  padding: 8px;
  font-size: 40px;
  cursor: pointer;
  color: var(--textLight);
  width: 40px;
  height: 40px;
}

.SocialMedia_socialMedia__Mq1Ta {
  display: flex;
  gap: 10px;
}

.SocialMedia_socialMedia__Mq1Ta a {
  transition: all 0.3s ease-in-out;
}
.SocialMedia_socialMedia__Mq1Ta a:hover {
  background-color: var(--color1);
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/TwoTextAbout/TwoTextAbout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.TwoTextAbout_TwoTextWrapper__VTNrh {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.TwoTextAbout_head__RaBmN {
  text-align: center;
}

.TwoTextAbout_head__RaBmN p {
  margin: 30px auto;
}
.TwoTextAbout_texts__YawN6 {
  display: flex;
  width: 90%;
  margin: 20px auto 60px auto;
  gap: 5%;
  color: var(--textMedium);
  line-height: 25px;
  font-size: 15px;
  max-width: 1200px;
}

@media (max-width: 650px) {
  .TwoTextAbout_texts__YawN6 {
    line-height: 18px;
    font-size: 15px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

