/*!***************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/animations/SliderPeople/Dashboard.module.css ***!
  \***************************************************************************************************************************************************************************************************************************************************************************************************/
.Dashboard_title__EI1tg {
  text-align: center;
  margin-bottom: 20px;
}

.Dashboard_sectionCenter__iO1LK {
  margin: 0 auto;
  margin-top: 4rem;
  width: 80vw;
  height: 550px;
  max-width: 800px;
  text-align: center;
  position: relative;
  display: flex;
  overflow: hidden;
}
.Dashboard_personImg__YjHP7 {
  margin-bottom: 1rem;
  width: 250px;
  height: 250px;
  -o-object-fit: cover;
     object-fit: cover;
  margin: 0 auto;
  border-radius: 50%;
}
.Dashboard_name__Uim2n {
  text-transform: capitalize;
  margin: 10px 0;
}

.Dashboard_title__EI1tg {
  margin: 20px auto;
  text-transform: capitalize;
}
.Dashboard_text__ORBzZ {
  max-width: 35em;
  margin: 0 auto;
  margin-top: 2rem;
  line-height: 2;
}
.Dashboard_icon__za9W3 {
  margin: 40px auto 0 auto;
}
.Dashboard_prev__d9MhB,
.Dashboard_next___k3zA {
  position: absolute;
  top: 200px;
  transform: translateY(-50%);
  width: 2rem;
  display: grid;
  place-items: center;
  border-color: transparent;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}

.Dashboard_prev__d9MhB {
  left: 0;
}
.Dashboard_next___k3zA {
  right: 0;
}
@media (min-width: 800px) {
  .Dashboard_text__ORBzZ {
    max-width: 45em;
  }
}

.Dashboard_article__hYLx1 {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: all 0.8s cubic-bezier(0.67, -0.03, 0.36, 1.08);
}
.Dashboard_activeSlide__Ln_C8 {
  opacity: 1;
  transform: translateX(0);
}
.Dashboard_lastSlide__2AQDE {
  transform: translateX(-100%);
}
.Dashboard_nextSlide__6BoYb {
  transform: translateX(100%);
}

/*!*********************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/anyPageHead/PageHeadImage/PageHeadImage.module.css ***!
  \*********************************************************************************************************************************************************************************************************************************************************************************************************/
.PageHeadImage_mainWrapper__bPr6g {
  overflow: hidden;
  position: relative;
}
.PageHeadImage_mainImage__WYtcp {
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 560px;
  z-index: -1;
  margin-bottom: -25px;
}
.PageHeadImage_short__gqB50 {
  height: 350px;
}
.PageHeadImage_imageDarkLayer__3Imbt {
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: var(--overlayDark);
}

.PageHeadImage_overlayWrapper__QC4jh {
  position: absolute;
  height: 100%;
  width: 100%;
  color: var(--textLight);
  z-index: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  text-align: center;
}

@media (max-width: 1000px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 400px;
  }
  .PageHeadImage_short__gqB50 {
    height: 200px;
  }
}
@media (max-width: 800px) {
  .PageHeadImage_mainImage__WYtcp {
    height: 350px;
  }
  .PageHeadImage_short__gqB50 {
    height: 250px;
  }
}

/*!******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/MapTimes.module.css ***!
  \******************************************************************************************************************************************************************************************************************************************************************************************************/
.MapTimes_mapAndTimesWrapper__wZgWm {
  width: 95%;
  margin: 40px auto;
  display: flex;
  justify-content: space-evenly;
  height: auto;
  height: 600px;
}

.MapTimes_textMapWrap__lRZ4E {
  padding: 10px;
  height: 100%;
  display: flex;
  width: 60%;
  gap: 10px;
  border: 1px solid var(--gray2);
  background-color: var(--gray1);
}

.MapTimes_mapSide__ygxsn {
  width: 100%;
  height: 450px;
  height: 100%;
  border: none;
  min-height: 300px;
}
@media (max-width: 1300px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    height: 500px;
  }
}

@media (max-width: 1000px) {
  .MapTimes_mapAndTimesWrapper__wZgWm {
    flex-direction: column;
    align-items: center;
    height: 1000px;
    gap: 40px;
  }
  .MapTimes_textMapWrap__lRZ4E {
    width: 90%;
  }
}

@media (max-width: 650px) {
  .MapTimes_textMapWrap__lRZ4E {
    flex-direction: column;
  }
}

/*!**************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Hours.module.css ***!
  \**************************************************************************************************************************************************************************************************************************************************************************************************************/
.Hours_hoursMainWrap__cMbDV {
  background-color: var(--color2);
  width: 30%;
  padding: 10px;
  height: 100%;
  color: var(--textLight);
  min-height: 400px;
}
.Hours_hoursWrap__5WIVQ {
  border: 1px solid white;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding-top: 30px;
}

.Hours_hoursHead__6ayoz {
  height: 15%;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}
.Hours_hoursHead__6ayoz h4 {
  font-family: var(--font1);
  font-size: 24px;
  text-transform: uppercase;
}
.Hours_hoursHead__6ayoz h3 {
  font-family: var(--font2);
  color: var(--color1);
}
.Hours_hoursTimes__YygVz {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 60%;
}
.Hours_timesDay__5JpWV {
  display: flex;
  justify-content: space-between;
  width: 80%;
  margin: 0 auto;
}
.Hours_day__dIw3X {
  text-transform: capitalize;
  font-weight: 300;
}
.Hours_dotted__dP9Ka {
  border-bottom: 1px dotted var(--textMedium);
  flex: 1;
}
.Hours_hours__PRcRh {
  text-transform: uppercase;
}
.Hours_closed__ybAKU {
  color: var(--red);
  font-weight: 500;
}
.Hours_hoursReserv__gr82G {
  align-items: center;
  text-transform: uppercase;
  font-family: var(--font1);
  letter-spacing: 1px;
  margin: 20px auto;
}

@media (max-width: 1000px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 45%;
  }
}

@media (max-width: 650px) {
  .Hours_hoursMainWrap__cMbDV {
    width: 90%;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/map&times/components/Text.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.Text_textWrap__Ic8oY {
  background-color: var(--backgroundLight);
  width: 100%;
  border: 1px solid var(--gray2);
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 4%;
  text-align: center;
  padding: 50px 0;
  min-height: 300px;
}

.Text_textWrap__Ic8oY img {
  margin: 0 auto;
}

.Text_addres__irnHB {
  color: var(--textMedium);
  width: 80%;
  margin: 0 auto;
}

.Text_email__yZsWZ {
  color: black;
}
.Text_number__C4aj4 {
  color: var(--red);
}

@media (max-width: 650px) {
  .Text_textWrap__Ic8oY {
    padding: 20px;
  }
}

/*!*******************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/PhotoText/PhotoText.module.css ***!
  \*******************************************************************************************************************************************************************************************************************************************************************************************************/
.PhotoText_photoTextWrapper___lA_A {
  width: 100%;
  margin: 100px auto;
  display: flex;
  justify-content: center;
  gap: 5%;
  max-width: 1200px;
}

.PhotoText_photoTextWrapper___lA_A img {
  width: 50%;
  height: auto;
  -o-object-fit: cover;
     object-fit: cover;
}

.PhotoText_textDiv__8_T9L {
  width: 45%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.PhotoText_textDiv__8_T9L p {
  margin: 30px 0;
}
.PhotoText_textDiv__8_T9L h3 {
  padding-bottom: 30px;
}

@media (max-width: 600px) {
  .PhotoText_photoTextWrapper___lA_A {
    flex-direction: column-reverse;
    margin: 0 auto;
  }
  .PhotoText_photoTextWrapper___lA_A img {
    width: 90%;
    margin: 0 auto;
  }
  .PhotoText_textDiv__8_T9L {
    width: 90%;
    margin: 0 auto;
    text-align: center;
  }
  .PhotoText_textDiv__8_T9L p {
    margin: 30px auto;
  }
  .PhotoText_textDiv__8_T9L h2 {
    margin-top: 40px;
  }
  .PhotoText_textDiv__8_T9L h4 {
    margin-bottom: 40px;
  }
}

/*!*************************************************************************************************************************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/next/dist/build/webpack/loaders/css-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[2]!./node_modules/next/dist/build/webpack/loaders/postcss-loader/src/index.js??ruleSet[1].rules[11].oneOf[7].use[3]!./components/sectionComponents/TwoTextAbout/TwoTextAbout.module.css ***!
  \*************************************************************************************************************************************************************************************************************************************************************************************************************/
.TwoTextAbout_TwoTextWrapper__VTNrh {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 100px auto;
}

.TwoTextAbout_head__RaBmN {
  text-align: center;
}

.TwoTextAbout_head__RaBmN p {
  margin: 30px auto;
}
.TwoTextAbout_texts__YawN6 {
  display: flex;
  width: 90%;
  margin: 20px auto 60px auto;
  gap: 5%;
  color: var(--textMedium);
  line-height: 25px;
  font-size: 15px;
  max-width: 1200px;
}

@media (max-width: 650px) {
  .TwoTextAbout_texts__YawN6 {
    line-height: 18px;
    font-size: 15px;
    flex-direction: column;
    gap: 20px;
    text-align: center;
  }
}

