.mainWrapper {
  margin: 0 auto;
  color: var(--textLight);
  padding: 50px 0;
}
.textDiv {
  padding-bottom: 40px;
}
.cardsWrapper {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 50px;
}

/* _____________________ CARD */

.card {
  height: 600px;
  max-width: 600px;
  background-color: var(--backgroundLight);
  color: var(--textDark);
  position: relative;
}

.imageDiv {
  /* height: 450px; */
  height: 70%;
}

.imageDiv img {
  object-fit: cover;
  height: 100%;
}

.cardTextDiv {
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 30px;
  position: relative;
}
.cardTextDiv p {
  padding-right: 40px;
}

.arrow {
  position: absolute;
  right: 30px;
  top: 30px;
  font-size: 40px;
}

.overlay {
  position: absolute;
  cursor: pointer;
  height: 100%;
  width: 100%;
  z-index: 1;
  transition: all 0.3s;
}
.overlay:hover {
  border-bottom: 5px solid var(--color1);
}

.viewAll {
  margin-top: 40px;
  text-align: right;
  display: flex;
  justify-content: flex-end;
  width: 90%;
}
.viewAll a {
  text-align: right;
}

@media (max-width: 1400px) {
  .card {
    height: 500px;
    width: 400px;
  }
}

@media (max-width: 950px) {
  .card {
    width: 100%;
  }
  .arrow {
    top: 10px;
  }
}
